/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

:root {
    background-color: rgb(255, 255, 255)
}

main {
    padding: 50px;
    background-color: rgb(255, 255, 255)
}

a {
    color: rgb(93, 95, 218);
}

.navbar-title-h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-brand der {
    align-items: flex-end;
}

.padre-logIn-SignUp {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.hijo-logIn-SignUp {
    width: 500px;
    background-color: rgb(255, 255, 255);
}

.centrado {
    text-align: center;
}